marquee {
    -webkit-animation: caption 50s linear 0s infinite;
    background-color: transparent;
    overflow: hidden;
    overflow-x: -webkit-marquee;
    -webkit-marquee-direction: right;
    -webkit-marquee-style: scroll;
    -webkit-marquee-speed: normal;
    -webkit-marquee-increment: small;
    -webkit-marquee-repetition: 5;
    overflow-x: marquee-line;
    marquee-direction: forward;
    marquee-style: scroll;
    marquee-speed: slow;
    marquee-play-count: 5;
    color: #639dbc;
    /*text-shadow: 1px 1px 2px pink;*/
    text-transform: uppercase;
    white-space: nowrap;
}

.reminder {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 124, 0.13);
    padding-top: 15px;
    padding-bottom: 8px;
    z-index: 77777;
    /*-webkit-box-shadow: inset 0px 2px 2px rgba(99, 157, 188, 0.16), 0px 1px 0px rgba(250, 250, 250, .2);*/
    /*box-shadow: inset 0px 2px 2px rgba(99, 157, 188, 0.29), 0px 1px 0px rgba(250, 250, 250, .2);*/
    /*-webkit-transition: background-color 350ms;*/
    /*-moz-transition: background-color 350ms;*/
    /*transition: background-color 350ms;*/
}